<!DOCTYPE html>
<html  xmlns:th="http://www.thymeteaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>小程序后台管理系统</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
    <link rel="stylesheet" th:href="@{/component/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/css/skins/allskins.css}" />
     <link rel="stylesheet" th:href="@{/css/project/list.css}" />
</head>
<body>
	<div class="main">
		  <div class="box" id="top10project">
   			 <span class="titlefont"><a href="/">访问热度TOP10</a></span>
   			 <span class="more"><a href="/">更多</a></span>
    
    <ul class="list">
	    <li>
	    <span class="listpic">
	    <a href="/" title="朝夕选课" target="_blank">
	    <img src="/images/project/朝夕选课.jpg" alt="朝夕选课" width="180" height="200"  /></a></span>
	    <div class="listcount">
	    <span class="view">55</span>
	    <span class="comment">0</span>
	    <span class="love">0</span>
	    </div>
	    <h2><a href="/" title="朝夕选课" target="_blank">朝夕选课</a></h2>    
	    </li>
		<li>
	    <span class="listpic">
	    <a href="/" title="房贷计算器专业版" target="_blank">
	    <img src="/images/project/房贷计算器专业版.jpg" alt="房贷计算器专业版" width="180" height="200"  /></a></span>
	    <div class="listcount">
	    <span class="view">94</span>
	    <span class="comment">0</span>
	    <span class="love">0</span>
	    </div>
	    <h2><a href="/" title="房贷计算器专业版" target="_blank">房贷计算器专业版</a></h2>    
	    </li>
	     <li>
	    <span class="listpic">
	    <a href="/" title="订蛋糕" target="_blank">
	    <img src="/images/project/订蛋糕.jpg" alt="订蛋糕" width="180" height="200"  /></a></span>
	    <div class="listcount">
	    <span class="view">55</span>
	    <span class="comment">0</span>
	    <span class="love">0</span>
	    </div>
	    <h2><a href="/" title="订蛋糕" target="_blank">订蛋糕</a></h2>    
	    </li>
	    <li>
	    <span class="listpic">
	    <a href="/" title="斗图小助手" target="_blank">
	    <img src="/images/project/斗图小助手.jpg" alt="订蛋糕" width="180" height="200" /></a></span>
	    <div class="listcount">
	    <span class="view">55</span>
	    <span class="comment">0</span>
	    <span class="love">0</span>
	    </div>
	    <h2><a href="/" title="斗图小助手" target="_blank">斗图小助手</a></h2>    
	    </li>
	     <li>
	    <span class="listpic">
	    <a href="/" title="识花草" target="_blank">
	    <img src="/images/project/识花草.jpg" alt="识花草" width="180" height="200"  /></a></span>
	    <div class="listcount">
	    <span class="view">55</span>
	    <span class="comment">0</span>
	    <span class="love">0</span>
	    </div>
	    <h2><a href="/" title="识花草" target="_blank">识花草</a></h2>    
	    </li>
	    <li>
	    <span class="listpic">
	    <a href="/" title="听音乐" target="_blank">
	    <img src="/images/project/听音乐.jpg" alt="听音乐" width="180" height="200"  /></a></span>
	    <div class="listcount">
	    <span class="view">55</span>
	    <span class="comment">0</span>
	    <span class="love">0</span>
	    </div>
	    <h2><a href="/" title="听音乐" target="_blank">听音乐</a></h2>    
	    </li>
    </ul>  
      
	</div>
	 </div>
	  <script th:src="@{/component/jquery/jQuery-2.2.0.min.js}"></script>
     <script th:src="@{/component/bootstrap/js/bootstrap.min.js}"></script>
     <script th:src="@{/js/project/list.js}"></script>
</body>
</html>