<!DOCTYPE html>
<html  xmlns:th="http://www.thymeteaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>小程序后台管理系统</title>
     <meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
    <link rel="stylesheet" th:href="@{/component/bootstrap/css/bootstrap.min.css}" />
      <link rel="stylesheet" th:href="@{/css/frame/frame.css}" />	
</head>
<body>
	<div class="main">
			<form class="form-inline">
				<div class="container">
					<div class="row">
						<div class="col-sm-9">
							<div class="row">
								<span class="requiredText">*</span>
								<label for="projectName">项目名称</label>
								<input type="text" class="form-control" id="projectName" name="projectName" th:value="${project.projectName}"/>
							</div>
							<div class="row">
								<span class="requiredText">*</span>
								<label for="projectTypeName">项目类型</label>
								<select  class="form-control size-little" id="projectTypeName" name="projectTypeName" th:value="${project.projectTypeCode}">
									<option value="yuedu">阅读</option>
									<option value="gongju">工具</option>
									<option value="qita">其他</option>
								</select>
							</div>
							<div class="row">
								<span class="requiredText">*</span>
								<label for="projectName">商家名称</label>
								<input type="text" class="form-control" id="projectCustomerName" name="projectCustomerName" th:value="${project.projectCustomerName}"/>
							</div>
							<div class="row">
								<span class="requiredText">*</span>
								<label for="projectName">项目名称</label>
								<input type="text" class="form-control" id="projectName" name="projectName" th:value="${project.projectName}"/>
							</div>
						</div>
						<div class="col-sm-3">
							<img th:src="${project.projectImage}" th:alt="${project.projectName}" width="150" height="180"  />
						</div>
					</div>
				
				
					
				</div>
			</form>
	 </div>
	  <script th:src="@{/component/jquery/jQuery-2.2.0.min.js}"></script>
     <script th:src="@{/component/bootstrap/js/bootstrap.min.js}"></script>
     <script th:src="@{/js/common.js}"></script>
     <script th:src="@{/js/project/edit.js}"></script>
</body>
</html>